data/ 
dataset/ 
datasets/ 
images/ 
kaggle/ 
*.zip 
*.rar 
*.7z 
__pycache__/ 
*.pyc 
.ipynb_checkpoints/ 
venv/ 
runs/ 
logs/ 
outputs/ 
results/ 
checkpoints/ 
weights/ 
.DS_Store 
Thumbs.db 
.vscode/ 
.idea/ 
